
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
body{
  font-family: 'Roboto Condensed', sans-serif;
}
.cardText{
  text-align: center;
}

.card{
  margin-top: 20px;
}
.select{
 
  margin-top: 100px;
  
}